In [1]:
import pandas as pd

In [2]:
from pandas import Series
from pandas import Dataframe

ImportError: cannot import name 'Dataframe' from 'pandas' (C:\Users\xbblp1a\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\__init__.py)

In [3]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib.request as urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
#import _Pickle as pickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

#from secret import *

In [7]:
import csv
u_columns = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('C:\\Users\\xbblp1a\\movie\\ml-100k\\u.user', sep = '|', names = u_columns)
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [73]:
fltr_colm = users[['user_id','age','sex','occupation']]
a = fltr_colm[(fltr_colm.sex == 'M')&(fltr_colm.age == 24)&(fltr_colm.occupation == 'technician')]
#fltr_colm = users[['user_id','age','sex']]
#a.head()
print(a)

     user_id  age sex  occupation
0          1   24   M  technician
3          4   24   M  technician
455      456   24   M  technician
716      717   24   M  technician
831      832   24   M  technician
888      889   24   M  technician

In [70]:
b = a[['user_id','age','sex']]
print (b)

     user_id  age sex
18        19   40   M
82        83   40   M
115      116   40   M
199      200   40   M
283      284   40   M
289      290   40   M
308      309   40   M
357      358   40   M
397      398   40   M
564      565   40   M
646      647   40   M
791      792   40   M
841      842   40   M
917      918   40   M

In [77]:
female_prog = fltr_colm[(fltr_colm.sex == 'F')&(fltr_colm.occupation == 'programmer')]
print(female_prog.describe())
print(female_prog.mean())
print(female_prog ['age'].mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000
user_id    411.166667
age         32.166667
dtype: float64
32.166666666666664

In [80]:
rating_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('C:\\Users\\xbblp1a\\movie\\ml-100k\\u.data', sep = '\t', names = rating_cols)
print (ratings)

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [106]:
group_data = ratings['movie_id'].groupby(ratings['user_id'])
print(ratings.head()) # will print all the columns from initial pull
#print (group_data.head()) # will print only two columns
#group_data.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [119]:
rating_grp_movie = ratings['rating'].groupby(ratings['movie_id'])
avg_rating_per_movie = rating_grp_movie.mean()
print (avg_rating_per_movie)

movie_id
1       3.878319
2       3.206107
3       3.033333
4       3.550239
5       3.302326
          ...
1678    1.000000
1679    3.000000
1680    2.000000
1681    3.000000
1682    3.000000
Name: rating, Length: 1682, dtype: float64

In [89]:
movies_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('C:\\Users\\xbblp1a\\movie\\ml-100k\\u.item', sep = '|', names = movies_cols, usecols = range(5))
print (movies)

      movie_id                                      title release_date  \
0            1                           Toy Story (1995)  01-Jan-1995
1            2                           GoldenEye (1995)  01-Jan-1995
2            3                          Four Rooms (1995)  01-Jan-1995
3            4                          Get Shorty (1995)  01-Jan-1995
4            5                             Copycat (1995)  01-Jan-1995
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)  06-Feb-1998
1678      1679                           B. Monkey (1998)  06-Feb-1998
1679      1680                       Sliding Doors (1998)  01-Jan-1998
1680      1681                        You So Crazy (1994)  01-Jan-1994
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

      video_release_date                                           imdb_url
0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                  ...                                                ...
1677                 NaN  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678                 NaN  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679                 NaN      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680                 NaN  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681                 NaN  http://us.imdb.com/M/title-exact?Schrei%20aus%...

[1682 rows x 5 columns]

In [134]:
top_rated_movie = avg_rating_per_movie.max()
top_movie_title = avg_rating_per_movie[avg_rating_per_movie == top_rated_movie].index
print (movies[movies.movie_id.isin(top_movie_title)].title)
#print (top_movie_title)

813                         Great Day in Harlem, A (1994)
1121                       They Made Me a Criminal (1939)
1188                                   Prefontaine (1997)
1200           Marlene Dietrich: Shadow and Light (1996)
1292                                      Star Kid (1997)
1466                 Saint of Fort Washington, The (1993)
1499                            Santa with Muscles (1996)
1535                                 Aiqing wansui (1994)
1598                        Someone Else's America (1995)
1652    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

In [93]:
print (movies.dtypes)
print (movies.describe())

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object
          movie_id  video_release_date
count  1682.000000                 0.0
mean    841.500000                 NaN
std     485.695893                 NaN
min       1.000000                 NaN
25%     421.250000                 NaN
50%     841.500000                 NaN
75%    1261.750000                 NaN
max    1682.000000                 NaN